* {
	margin: 0;
	padding: 0;
}

header {
	background-color: LightGray;
	height:10vh;

}

main {
	background-color: LightGray;
	height: 80vh;
}

footer {
	background-color: LightGray;
	height: 8vh;
}

.containerInHeader {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 1024px;
	height: 10vh;
}

#textHeader {
	display: inline-block;
	padding-left: 800px;
	padding-top: 20px;
	color:maroon;
}